@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: linear-gradient(rgba(0,0,0,0.5),#009688), url(Background1.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.container{
 max-width: 700px;
  width: 100%;
  background-color: transparent;
  padding: 50px 30px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-left: 450px;
  height: 648px;
  
}
.container h6{
font-size: 2.1rem;
  color:#fff;
  margin-bottom: 10px;
  margin-left: 180px;

}


.container label{
  color: #fff;
  font-size: 20px;

}
.container select{
  color: #009688;
  width: 400px;
  height: 30px;
   border-radius: 49px;
     
     font-size: 17;
     border-color: #009688;
}

 button{
  height: 50px;
   margin: 35px 0;
    flex-basis: 50%;
margin-left: 240px;
  width: 70%;
  border-radius: 10px;
  background-blend-mode: 20px;
  
 }
 button {
    width: 150px;
  background-image: linear-gradient(to right, #009688, #38d39f, #009688);
  background-size: 200%;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
 font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
 }
 button:hover{

  background-position: right;
  }
 
 @media(max-width: 584px){
 .container{
  max-width: 100%;
  margin-left: 4px;
  width: 98%;
  height: 640px;
  margin-top: 4px;

 
}
.container .title{
margin-left: 50px;
  }
form .user-details .input-box{
    margin-bottom: 15px;
    width: 200%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  form .button{
  margin-top: 3px;
  margin-left: 50px;

  
 }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
