@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: linear-gradient(rgba(0,0,0,0.5),#009688), url(../images/img/Background1.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
.container{
 max-width: 700px;
  width: 100%;
  background-color: transparent;
  padding: 50px 30px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-left: 450px;
  height: 645px;
  
}
.container .title{
font-size: 2.2rem;
  color:#fff;
  margin-bottom: 10px;
  margin-left: 230px;

}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;

}
form .form-group input{
  margin-bottom: 15px;
  color: #fff;
  width: calc(100% / 2 - 20px);

}
form .form-group label{
  color:#fff;
  font-size: 20px;
  font-weight: bold;
}
form .form-group input{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}


form .form-group input::placeholder{
color: #009688;
  }
form .form-group input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 50px;
  padding-left: 15px;
  border: 2px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;

}
form .form-group input:focus,
form .form-group input:valid{
  border-color: #009688;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   color: #fff;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #38d39f;
   border-color: #009688;
 }
 form input[type="radio"]{
   display: none;
 }
 form button{
  height: 40px;
   margin: 35px 0;
    flex-basis: 20%;

  border-radius: 10px;
  background-blend-mode: 20px;
  
 }

 form  button{
    width: 100px;
  background-image: linear-gradient(to right, #009688, #38d39f, #009688);
  background-size: 200%;
  border: none;
  outline: none;
  height: 39px;
  border-radius: 49px;
  color: #fff;
 font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
 }
 form  button:hover{

  background-position: right;
  }
 
 .table th{
  color: #fff;
  background-color: #009688;
  font-weight: bolder;
 }
 .table td{
  color: #009688;
  background-color: #fff;
  font-weight: bold;
 }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
  margin-left: 4px;
  width: 98%;
  height: 640px;
  margin-top: 4px;

 
}
.container .title{
margin-left: 50px;
  }
form .user-details .input-box{
    margin-bottom: 15px;
    width: 200%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  form .button{
  margin-top: 3px;
  margin-left: 50px;

  
 }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
